/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 1px dotted gray;
     padding: 20px;
	 font-family: -apple-system, BlinkMacSystemFont, Helvetica, Helvetica Neue, monospace;
	 color: #333;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}

h4 {
	font-size: 2rem;
}

.img {
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	margin: 10px;
}

.project {
	/*background: #eee;*/
}

.thumbnail {
	/*border: 10px solid red;*/
	box-shadow: 0 0 10px #000;
}

.text {
	/*text-align: center;*/
	font-size: 1.2rem;
	color: #00adef;
}
